 body{
      margin: 0;
      font-family: Arial;
      background-color: rgb(245, 245, 247);
    }
    .top{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      text-align: center;
    }
    .top2{
      display: flex;
      max-width: 980px;
      width: 100%;
      height: 44px;
      margin: auto;
      padding: 0px 22px;
      justify-content: space-between;
      white-space: nowrap;
    } 
    .emi{
      height: 45px;
      width: auto;
      justify-content: center;
      text-align: center;
      margin: 12px 0px 0px 0px;
      font-size: 14.3px;
      font-weight: 500;
    }
    .product{
      min-height: 500px;
      width: 100%;
      padding-bottom: 40px;
    }
    .logo{
      margin-top: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 0px;
      position: relative;
      z-index: 5;
    }
    .logo img{
      height: min(3vh, 200px);
      max-width: 100%;
      object-fit: contain;
    }
    .text{
      font-size: 12px;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 15px 0px 5px 0px;
      white-space: nowrap;
      font-weight: 100;
      cursor: pointer;
    }
    a{
      text-decoration: none;
      text-decoration-color:rgb(34, 118, 235);
    }
    a:hover .un{
      text-decoration: underline;
    }
    .tagline{
      display: flex;
      justify-content: center;
      margin-top: 6px;
      font-size: 26px;
      position: relative;
      z-index: 5;
    }
    .comment{
      display: flex;
      justify-content: center;
      margin-top: 12px;
      font-size: 18px;
      color:rgb(112, 112, 117);
      z-index: 5;
      position: relative;
    }
    .buttons{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      position: relative;
      z-index: 5;
    }
    .butt1{
      font-size: 17px;
      border-radius: 16px;
      border: none;
      background-color:rgb(34, 118, 235);
      color: white;
      padding: 7px 15px ;
      margin-right: 12px;
    }
    .butt2{
      font-size: 17px;
      border-radius: 20px;
      border: solid;
      border-color:rgb(34, 118, 235);
      border-width: 1px;
      color: rgb(34, 118, 235);
      padding: 3px 14px 5px 14px;
      margin-right: 12px;
      transition: 0.12s;
    }
    .po{
      color: rgb(34, 118, 235);
    } 
    .butt2:hover{
      cursor: pointer;
      border: 1px solid rgb(34, 118, 235);
      background-color:rgb(34, 118, 235);
      color: white;
    }
    .butt2:hover .po{
      color: white;
    }
    .im{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 60vh;
      min-height: 400px;
      margin-top: -100px;
      overflow: hidden;
      z-index: 1;
    }
    .ima{
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }