 body{
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
    .top{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      text-align: center;
    }
    .top2{
      display: flex;
      max-width: 980px;
      width: 100%;
      height: 44px;
      margin: auto;
      padding: 0px 22px;
      justify-content: space-between;
      white-space: nowrap;
    }
    .text{
      font-size: 12px;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 15px 0px 5px 0px;
      white-space: nowrap;
      font-weight: 400;
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color:rgb(34, 118, 235);
    }
    a:hover .un{
      text-decoration: underline;
    }
    .vector{
      cursor: pointer;
    } 
    .emi{
      height: 45px;
      width: auto;
      justify-content: center;
      text-align: center;
      padding: 12px 0px 0px 0px;
      font-size: 14.3px;
      font-weight: 400;
      background-color: rgb(245, 245, 247);
    }
    .product{
      width: auto;
      margin-bottom: 13px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(245, 245, 247);
      cursor: pointer;
      position: relative;
    }
    .product img{
      height: 66.5vh;
      width: auto;
      object-fit: cover;
      z-index: 1;
    }
    .logo{
      height: 30px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 0px;
      position: absolute;
      z-index: 5;
      position: absolute;
      top: 9%;
      left: 49.8%;
      transform: translate(-50%, -50%);
    }
    .logo img{
      height: 100%;
      object-fit: cover;
    }
    .tagline{
      display: flex;
      justify-content: center;
      margin-top: 6px;
      font-size: 26.4px;
      position: absolute;
      top: 14%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
    }
    .comment{
      display: flex;
      justify-content: center;
      margin-top: 12px;
      font-size: 18px;
      color:rgb(112, 112, 117);
      z-index: 5;
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .buttons{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      position: absolute;
      z-index: 5;
      top: 23.5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .butt1{
      font-size: 17px;
      border-radius: 16px;
      border: none;
      background-color:rgb(34, 112, 225);
      color: white;
      padding: 8px 15px ;
      margin-right: 18px;
      cursor: pointer;
      animation: 0.15s;
    }
    .butt1:hover{
      background-color: rgb(34, 118, 235);
    }
    .butt2{
      font-size: 17px;
      border-radius: 20px;
      border: solid;
      border-color:rgb(34, 118, 235);
      border-width: 1px;
      color: rgb(34, 118, 235);
      padding: 6px 15px 6px 15px;
      margin-right: 12px;
      transition: 0.12s;
    }
    .po{
      color: rgb(34, 118, 235);
    } 
    .butt2:hover{
      cursor: pointer;
      border: 1px solid rgb(34, 118, 235);
      background-color:rgb(34, 118, 235);
      color: white;
    }
    .butt2:hover .po{
      color: white;
    }
   